@using Fulbo12.Core;
@model PersonaJuego;
@{
    ViewData["Title"] = "Futbolista - Detalle";
}

<a asp-controller="Futbolista" asp-action="Alta" asp-route-IdPersona="@Model.Id">
    <button type="submit" class="btn btn-primary"><i class="bi bi-dribbble">Hacer Futbolista</i></button>
</a>
<h2 class="text-center">@Model.Nombre @Model.Apellido</h2>
<h5 class="text-center"> @Model.Pais.Nombre • @Model.Altura m.</h5>